joosc
test_joosc
tests/src/a1TestFiles.cpp
tests/include/a1TestFiles.h
tests/src/a2TestFiles.cpp
tests/include/a2TestFiles.h
tests/src/a3TestFiles.cpp
tests/include/a3TestFiles.h
tests/src/a5TestFiles.cpp
tests/include/a5TestFiles.h
tests/src/a4TestFiles.cpp
tests/include/a4TestFiles.h

*.swp
*.swo
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tags
tags
